@use '../../styles/colors.scss';

.activity-list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 1rem;
    background: colors.$background_paper;
    border-radius: 15px;
}

.activity-secondParagraph{
color: colors.$text_disabled;
line-height: 1;
}