@use "../../styles/colors.scss";



.container{
    background-color: rgba(colors.$primary_main, 10%);
}

.collector-number{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.light{
  background-color: rgba(red, 20%);
}