@use '../../styles/colors.scss';


.tab-details{
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: colors.$text_secondary;
}

.tab-bids{
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: colors.$text_secondary;
}

.product-tabs{
    display: block;
}

// @for $i from 0 through 11 {
//     .table-row-#{$i}{
//         background-color: colors.$background_paper;
//     }
// }



.active{
 background-color: rgba(colors.$primary_main, 15%);
}