@use '../../styles/colors.scss';

.product-info-price{
 text-align: left;
 display: inline-block;
}

.product-info-price > h6 {
    color: colors.$text_hint;
    font-size: .9rem;
    text-transform: uppercase ;
    font-weight: 400;
}