@use '../../styles/colors.scss';


.tab-details{
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: colors.$text_secondary;
}

.tab-bids{
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: colors.$text_secondary;
}
.active{
    background-color: rgba(colors.$primary_main, 15%);
}

.product-tabs{
    display: block;
}
.table-row-0{
    display: block;
}
.table-row-1{
    display: block;
}
.table-row-2{
    display: block;
}
.table-row-3{
    display: block;
}
.table-row-4{
    display: block;
}
.table-row-5{
    display: block;
}
.table-row-6{
    display: block;
}
.table-row-7{
    display: block;
}
.table-row-8{
    display: block;
}.table-row-9{
    display: block;
}
.table-row-10{
    display: block;
}
.table-row-11{
    display: block;
}
.table-row-12{
    display: block;
}