@use '../../styles/colors.scss';


.description{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 60vw;
    transform: translateY(-15%);
    background: colors.$background_paper;
}

.text{
    font-size: 1rem;
    text-align: left;
}

.image{
    width: 100%;
    max-height: 200px;

}