@use '../../styles/colors.scss';

.header-container{
    background: colors.$background_paper;
}
.header-input{
    background: colors.$background_default;
    color: colors.$text_primary;
}
.header-magnifier-icon{
    color: colors.$text_primary;
}