@use "../../styles/colors.scss";


.footer-paragraph{
    font-size: 14px;
    font-weight: 300;
    color: colors.$text_disabled;
    text-align: center;
}

.footer-container{
    background: colors.$background_paper;
}
.footer-button > button{
    color: colors.$text_hint;
    padding: .5rem;
}