@use '../../styles/colors.scss';

.step-layout{
    border-radius: 30px;
    overflow: hidden;
}

.step-number{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(colors.$primary_main, 0.9);
}

.step-number > h1{
    font-size: 5rem;
}

.step-text{
    background: colors.$background_paper;
    padding: 2rem 3rem;
}
.step-text-second-child{
    color: colors.$text_secondary;
}